/* body style  */

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* common style  */

nav,
.speaker-container,
.secure-section,
.schedule-section {
    margin: 30px 80px;
}

nav,
.nav-listItem,
footer> :first-child,
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

/* common btn  */

.common-btn {
    padding: 10px 30px;
    background: #1D4ED8;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Navbar  */

.nav-listItem li a {
    text-decoration: none;
    color: #575757;
}

/* Hero section  */

.hero-section {
    height: 100vh;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;

    background:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("./assets/banner.jpg") center/cover no-repeat;
}

.hero-content {
    width: 50%;
    height: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    font-size: 4rem;
}

.hero-section p,
.secure-section {
    margin-top: 20px;
}

.hero-section button {
    padding: 20px 50px;
}

/* speaker section  */

.speaker-container> :first-child {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.speaker-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speaker-card {
    background: #F5F7FA;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.speaker-card img {
    width: 100%;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content> :first-child {
    color: #2563EB;
    font-size: 12px;
    font-weight: 700;
}

.card-content p {
    color: #575757;
}

/* secure spot  */

.text-center {
    text-align: center;
}

.bold-text {
    font-size: 48px;
    font-weight: 700;
}

.secure-spot-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.secure-spot-card {
    width: 350px;
    padding: 35px;
    background: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
}

.secure-spot-card hr {
    margin: 15px 0;
    border: 1px solid #E5E7EB;
}

.secure-spot-card>p:first-child,
.secure-spot-card h5 {
    color: #888;
    font-weight: 400;
}

.secure-spot-card ul {
    padding-left: 20px;
}

.secure-spot-card ul li {
    color: #333;
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 14px;
}

.secure-spot-card li::marker {
    color: #2563EB;
}

/* 2nd card style  */

.secure-spot-card:nth-child(2) {
    background: #0D1B2A;
    color: #fff;
}

.secure-spot-card:nth-child(2)>p:first-child {
    color: #93C5FD;
}

.secure-spot-card:nth-child(2) h5,
.secure-spot-card:nth-child(2) ul li {
    color: #fff;
}

.secure-spot-card:nth-child(2) li::marker {
    color: #93C5FD;
}

.secure-spot-card:nth-child(2) hr {
    border-color: rgba(255, 255, 255, .2);
}

/* card buttons  */

.white-btn,
.pro-btn {
    width: 100%;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

/* Standard Button */

.white-btn {
    background: #fff;
    color: #3366F5;
    border: 2px solid #3366F5;
}

.white-btn:hover {
    background: #3366F5;
    color: #fff;
}

/* Pro Button */

.pro-btn {
    background: #3366F5;
    color: #fff;
    border: 2px solid #3366F5;
}

.pro-btn:hover {
    background: #1D4ED8;
    border-color: #1D4ED8;
}

/* Contact Us Button */

.secure-spot-card:last-child .white-btn {
    color: #0D1B2A;
    border-color: #0D1B2A;
}

.secure-spot-card:last-child .white-btn:hover {
    background: #0D1B2A;
    color: #fff;
}

/* .schedule section style  */


.schedule-days,
.day-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.day-section {
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(163, 215, 255);
    border-radius: 10px;
}


/* Schedule Content */

.scedule-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

    margin: 50px 0;
    padding: 20px;

    background-color: rgba(180, 226, 233, 0.541);
    border-radius: 20px;
}


/* Conference Title */

.conference-title {
    width: 600px;
}


/* Schedule Address */

.scedule-address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.scedule-address i {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
}


/* Speaker Image */

.scedule-details-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* footer  */

footer {
    margin-top: 20px;
    background: #0D1B2A;
    color: #919191;
}

footer> :first-child {
    padding: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #919191;
    transition: .3s;
}

.copyright-message {
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
}