* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav,
.speaker-container,
.secure-section {
    margin: 30px 80px;
}

nav,
.nav-listItem,
footer>:first-child,
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}



.nav-listItem li a {
    text-decoration: none;
    color: #575757;
}

.common-btn {
    padding: 10px 30px;
    background-color: #1D4ED8;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
}

/* navbar end  */
.hero-section h1 {
    font-size: 4rem;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
    color: white;
    text-align: center;
    height: 100vh;
    font-size: 1.3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    margin: 0 auto;
}

.hero-section p {
    margin-top: 20px;
}

.hero-section button {
    padding: 20px 50px;
}

/* hero section end  */

/* meet the speaker start */
.speaker-container>:first-child {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.speaker-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.speaker-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #f5f7fa;
}

.speaker-card img {
    width: 100%;
}

.card-content {
    padding: 20px;
}

.card-content>:first-child {
    color: #2563EB;
    font-size: 12px;
    font-weight: bold;
}

.card-content p {
    color: #575757;
}

/* secure spot section  */
.text-center {
    text-align: center;
}

.bold-text {
    font-size: 48px;
    font-weight: bold;
}

.secure-spot-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.secure-spot-card:nth-child(2) {
    background-color: #0D1B2A;
    color: white !important
}

.secure-spot-card:nth-child(2) ul li {
    color: #fff;
}

.secure-spot-card {
    width: 350px;
    padding: 35px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.pro {
    color: #93C5FD !important
}

.secure-spot-card hr {
    margin: 15px 0;
    border: 1px solid #E5E7EB;
}

.secure-spot-card h5,
.secure-spot-card>:first-child {
    color: #888888;
    font-weight: 400;
}

.secure-spot-card ul {
    padding: 0 20px;
}

.secure-spot-card ul li {
    font-size: 12px;
    margin-bottom: 14px;
    line-height: 1.7;
    color: #333333;
}

.secure-spot-card li::marker {
    color: #2563EB;
}

.white-btn {
    width: 100%;
    padding: 16px 0;
    background: #fff;
    color: #3366F5;
    border: 2px solid #3366F5;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.pro-btn {
    width: 100%;
    padding: 16px 0;
    background: #3366F5;
    color: #fff;
    border: 2px solid #3366F5;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

/* secure section end  */

footer {
    margin: 20px 0;
    background-color: #0D1B2A;
    color: #919191;
}

.copyright-message,
footer>:first-child {
    padding: 20px;
    text-align: center;
}